*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
  }
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh;
    background-color:blue;
    border-radius: 15px;
  }
  .title h1{
    color: white;
    font-weight: bold;
    font-size: 30px;
  }
  
  .logo img{
    height: 19vh;
    border-radius: 50%;
  }
  .navi{
    margin-top: 10px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
    align-items: center;
  }
  
  .navi a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    background-color: inherit;
  }
  
  .navi a:hover{
    background-color:blue;
    color: white;
  }
  .burger{
    display: none;
  }
  
  .burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  #lane{
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: black;
    border-radius: 25px;
    margin-top: 10px;
    padding-bottom: 5px;
  }
  
  .history{
    background-color: #5F5757;
    border-radius: 25px;
    margin-top: 10px;
    text-align:center;
  }
body{
    background-image: url("../images/pizzaimage.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
  }
  #menu-title{
    width: 100%;
    align-items: center;
    display: block;
    margin-top: 10px;
  }