*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
  }
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh;
    background-color:blue;
    border-radius: 15px;
  }
  .title h1{
    color: white;
    font-weight: bold;
    font-size: 30px;
  }
  
  .logo img{
    height: 19vh;
    border-radius: 50%;
  }
  .navi{
    margin-top: 10px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
    align-items: center;
  }
  
  .navi a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    background-color: inherit;
  }
  
  .navi a:hover{
    background-color:blue;
    color: white;
  }
  .burger{
    display: none;
  }
  
  .burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  #lane{
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: black;
    border-radius: 25px;
    margin-top: 10px;
    padding-bottom: 5px;
  }
  
  .history{
    background-color: #5F5757;
    border-radius: 25px;
    margin-top: 10px;
    text-align:center;
    color:white
  }
body{
    background-image: url("../images/pizzaimage.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
  }
  #menu-title{
    width: 100%;
    align-items: center;
    display: block;
    margin-top: 10px;
  }
  
  #menu ul{
    margin-top: 10px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }
  
  .btn{
    background-color:blue;
    color: white;
  }
  
  .btn:hover{
    background-color: blue;
    color: white;
  }
  
  #menu-title{
    color: white;
    background-color: blue;
    border-radius: 25px;
    text-align: center;
  }
  #classic{
    background-color: #5F5757;
    border-radius: 25px;
    margin-top: 10px;
    width: 100%;
    color: white;
    padding-top: 10px;
    text-align: center;
  }
  #toppings{
    background-color:teal;
    border-radius: 25px;
    margin-top: 10px;
    width: 100%;
    color: white;
    padding-top: 10px;
    display: none;
  }
  
  .vision{
    background-color:blue;
    border-radius: 25px;
    margin-top: 10px;
    color: white;
    text-align: center;
  }
  #address{
    display: none;
  }
  
  #checkout{
    margin-top: 10px;
    background-color: blue;
    border-radius: 25px;
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  
  textarea{
    border-radius: 25px;
    background-color: lightslategray;
    color: white;
    padding-left: 30px;
    padding-top: 10px;
  }
  
  #checkout-button{
  background-color:  lightslategray;
  }
  .card-body p{
    padding: 12px;
    color: white;
    background-color:blue ;
    border-radius: 25px;
  }
  
  .card-title{
    border-radius: 25px;
    background-color: blue;
    padding-left: 18px;
    padding-top: 18px;
    color: white;
  text-align: center;
  }



  @media screen and (max-width:1024px){
    .title h1{
      font-size: 30px;
    }
  
    .logo{
      display:none;
    }
  
    .navi{
      width: 60%;
    }
  
    .card-body{
      display:block;
      justify-content: space-around;
    }
  
    #classic img{
      width: 150px;
      height: 150px;
    }
  
    #toppings img{
      width: 150px;
      height: 150px;
    }
  
    #deluxe img{
      width: 150px;
      height: 150px;
    }
  
    #classic h3{
      font-size: 15px;
      font-weight: bold;
    }
  
    #deluxe h3{
      font-size: 15px;
      font-weight: bold;
    }
  
    #toppings h3{
      font-size: 15px;
      font-weight: bold;
    }
  }
  @media screen and (max-width:768px){
    body{
    overflow-x: hidden;
    }
  
    .title h1{
    font-size: 24px;
    }
  
    .logo{
    display:none;
    }
  
    .navi{
    position:absolute;
    right: 0px;
    height: 70vh;
    top: 20vh;
    background-color: #3E7256;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 29%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    border-radius: 25px;
    }
  
    .navi li{
    opacity: 0;
    }
  
    .burger{
    display: block;
    }
  
    .navi-active{
    transform: translateX(0%);
    }
    @keyframes naviFade{
      from{
        opacity: 0;
        transform: translateX(50px);
      }
      to{
        opacity: 1;
        transform: translateX(0px);
      }
      }
    
      .toggle .line1{
      transform: rotate(-45deg) translate(-5px, 6px);
      }
    
      .toggle .line2{
      opacity: 0;
      }
    
      .toggle .line3{
      transform: rotate(45deg) translate(-5px, -6px);
      }
    
      .moto-unseen{
        width: 75%;
      }
    
      .history-reduce{
        width: 70%;
      }
    
      textarea{
        width: 80%;
      }
    
    }